@use '../../../styles/variables' as v;

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  @media (min-width: v.$tablet) {
    gap: 2rem;
    padding: 0;
  }
}

.welcome {
  h1 {
    color: v.$text-main;
    font-size: 1.4rem;
    @media (min-width: v.$tablet) {
      font-size: 1.8rem;
    }
  }
  p {
    color: #64748b;
    font-size: 0.9rem;
  }
}

.statsGrid {
  display: grid;
  // Cambia a 1 columna en móvil, 2 en tablets y 4 en PC
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: v.$desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  padding: 1.2rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.02);
  transition: transform 0.2s ease;

  &:hover {
    @media (min-width: v.$tablet) {
      transform: translateY(-3px);
    }
  }

  span {
    font-size: 0.85rem;
    color: #64748b;
    font-weight: 500;
  }

  .cardValue {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0.3rem;
    color: v.$text-main;
    @media (min-width: v.$tablet) {
      font-size: 1.5rem;
    }
  }
}
