@use '../../../styles/variables' as v;

.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$bg-light;
}

.loginCard {
  background: white;
  padding: 3rem;
  border-radius: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
    color: v.$text-main;
    .brand {
      color: v.$primary-purple;
      font-weight: 800;
    }
  }

  input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    font-size: 1rem;
    transition: border-color 0.3s;

    &:focus {
      outline: none;
      border-color: v.$primary-purple;
    }
  }

  button {
    width: 100%;
    padding: 1rem;
    background-color: v.$primary-purple;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition:
      transform 0.2s,
      background-color 0.3s;

    &:hover {
      background-color: v.$dark-purple;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
