:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-box: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: baseline;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
